label.dateSelectorLabel{
  margin-right: 5px;
}

ul.journalDatesList {
  list-style: none;
}

li.journalDate {
  list-style: none;
  width: 100px;
  float: left;
}

.showInnsynsBestilling {

}

.hideInnsynsBestilling {
  display: none;
}

.showOrderForm {

}

.hideOrderForm {
  display: none;
}

input, textarea {
  width: 100%;
}

.orderFormError{
  color: red;
  font-weight: 300;
}

.dateSelectorLabel{
  padding-right: 5px;
}

.departmentSelectorLabel{
  padding-left: 5px;
  padding-right: 5px;
}

.SearchBar{
  margin-bottom: 5px;
}